node_modules
out
dist
release
build/*
!build/icon.png
!build/icon.ico
!build/icon.icns
!build/entitlements.mac.plist
*.exe
*.zip
*.rar
*.log
.env
latest.yml
*.blockmap
.vscode
.DS_Store
.eslintcache
node_modules
